chrome*
examples/*.png
examples/screenshots
screenshot*
*_gen*.py
node_modules
extension_chrome/dist
extension_chrome/node_modules
.vscode
remote-profile

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

#env
.env
test.ipynb

#virtual environemnt
env/
venv/

tests/*.py

*.csv
lavague-integrations/drivers/lavague-drivers-selenium-no-cot/README.md
lavague-integrations/drivers/lavague-drivers-selenium-no-cot/lavague/drivers/selenium_no_cot/__init__.py
lavague-integrations/drivers/lavague-drivers-selenium-no-cot/lavague/drivers/selenium_no_cot/base.py
lavague-integrations/drivers/lavague-drivers-selenium-no-cot/poetry.lock
lavague-integrations/drivers/lavague-drivers-selenium-no-cot/pyproject.toml
lavague-integrations/drivers/lavague-drivers-selenium-safe/poetry.lock
lavague-integrations/drivers/lavague-drivers-selenium-safe/pyproject.toml
lavague-integrations/drivers/lavague-drivers-selenium-safe/README.md
lavague-integrations/drivers/lavague-drivers-selenium-safe/lavague/drivers/selenium_safe/__init__.py
lavague-integrations/drivers/lavague-drivers-selenium-safe/lavague/drivers/selenium_safe/base.py
demofile3.txt
diff.parquet
html_ret_selenium.txt
html_ret.txt
html_selenium.txt
html.txt
html2.txt
package-lock.json
test_check copy.py
test_check.py
test.py
test2_yaml.py
test2.py
test3.py
test4.py
test5.py
tmp_1ace0915-a64e-42e0-9bef-bec7e0866f31.html
tmp_2df97a56-8ebd-4616-a117-37b68b734170.html
tmp_3d993a86-a3fa-42c2-8836-eca58fb98c2a.html
tmp_384fcc4b-a1d8-413a-99dd-2cbf1f39e0f0.html
tmp_c62927c0-3f45-4bf2-8bbe-6e968a4633d6.html
tmp_e5030278-7338-44d1-b5ec-934440ff4e3a.html
Untitled-1.ipynb
extension_chrome/ext.zip
