html {
  height: calc(100% - 40px);
}

#app {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}

.logo {
  height: 80px;
  object-fit: contain;
}

.server {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logs {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .log {
    border: 1px solid #ddf;
    background: #fafaff;
    padding: 4px 8px;
    border-radius: 16px;
    white-space: pre-wrap;

    &.error {
      background: #ffdada;
    }
    &.userprompt {
      background: #daffda;
    }
  }
}

.prompt {
  position: relative;

  .button {
    position: absolute;
    bottom: -12px;
    right: -12px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}