html,
#app {
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.logo {
  height: 80px;
  object-fit: contain;
}

.chatbox {
  display: flex;
  height: calc(100vh - 168px);
  flex-direction: column;
  gap: 8px;

  .wmlogs {
    flex: 1;
    overflow-y: auto;
  }
}

.server {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logs {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .log_welcome {
    font-size: 16px;
    background: #ebebeb;
    padding: 14px 18px;
    border-radius: 16px;
    white-space: pre-wrap;
    width: fit-content;
    max-width: 90%;
  }

  .log {
    font-size: 16px;
    background: #ebebeb;
    padding: 14px 18px;
    border-radius: 16px;
    white-space: pre-wrap;
    width: fit-content;
    max-width: 90%;

    &.error {
      background: #ff9589;
    }

    &.userprompt {
      background: #268bdd;
      color: white;
      font-weight: 600;
      align-self: flex-end;
    }

  }
}

.prompt {
  position: relative;

  .button {
    position: absolute;
    bottom: -12px;
    right: -12px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}