name: Formatting

on:
  push:
  workflow_dispatch:

jobs:
  format:
    name: Run Ruff format checker
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Ruff
      run: pip install ruff==0.0.292

    - name: Run ruff
      run: ruff format --check .
